<ion-grid>
  <!-- img -->
  <ion-row>
    <ion-col size="12">
      <ion-card-title class="two-lines ion-text-center">{{book.title}}</ion-card-title>
    </ion-col>
    <ion-col size="12">
      <ion-card-subtitle class="two-lines ion-text-center">{{book.author}}</ion-card-subtitle>
    </ion-col>
  </ion-row>

  <!-- todo_mrt -->
  <ion-row style="padding-top: 1em;">
    <ion-col size="6" class="flex ion-justify-content-center" style=" max-width: 300px; max-height: 300px;">
      <img [src]="book.cover">
    </ion-col>
    <ng-container *ngIf="!isEditing; else formEdit">
      <!-- info -->
      <ion-col size="6">
        <ion-list lines="false" style="padding-top: 0;">
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- todo_mrt pasar al ts?-->
                <ion-checkbox slot="start" disabled [checked]="isPhysical || isBoth"></ion-checkbox>
                <ion-label>Físico</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-checkbox slot="start" disabled [checked]="isDigital || isBoth"></ion-checkbox>
                <ion-label>Digital</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-checkbox [value]="isRead" slot="start" disabled
              [checked]="isRead || book.end_date != ''"></ion-checkbox>
            <ion-label>Leído</ion-label>
          </ion-item>
          <ion-item *ngIf="isRead">
            <ion-label>
              <h3>Empezado</h3>
              <p>{{book.start_date | date: 'dd-MM-yyyy'}}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="isRead && book.start_date || isRead">
            <ion-label>
              <h3>Finalizado</h3>
              <p>{{book.end_date | date: 'dd-MM-yyyy'}}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="isRead && book.start_date">
            <ion-label>
              <h3>Calificación</h3>
              <div class="rating">
                <!-- todo_mrt pasar al ts -->
                <ion-icon *ngFor="let score of scoresArray; let i = index" [name]="iconName[i]"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- sinopsis -->
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>
            <h3>Notas</h3>
            <p class="notas">{{book.notes}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ng-container>
  </ion-row>




  <!-- template para editar -->

  <ng-template #formEdit>

    <form [formGroup]="editBookForm">
      <!-- info -->
      <ion-col size="6">
        <ion-list lines="false" style="padding-top: 0;">
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- todo_mrt pasar al ts?-->
                <ion-checkbox slot="start" disabled [checked]="isPhysical || isBoth"></ion-checkbox>
                <ion-label>Físico</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-checkbox slot="start" disabled [checked]="isDigital || isBoth"></ion-checkbox>
                <ion-label>Digital</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-checkbox [value]="isRead" slot="start" disabled
              [checked]="isRead || book.end_date != ''"></ion-checkbox>
            <ion-label>Leído</ion-label>
          </ion-item>


          <ion-item *ngIf="isRead">
            <ion-label>
              <h3>Empezado</h3>
              <ion-datetime-button datetime="start_date" ></ion-datetime-button>
            </ion-label>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" formControlName="start_date" id="start_date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          
          <ion-item *ngIf="isRead && book.start_date || isRead">
            <ion-label>
              <h3>Finalizado</h3>
              <ion-datetime-button datetime="end_date" ></ion-datetime-button>
            </ion-label>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" formControlName="end_date" id="end_date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>


          <ion-item *ngIf="isRead && book.start_date">
            <ion-label>
              <h3>Calificación</h3>
              <div class="rating">
                <!-- todo_mrt pasar al ts -->
                <ion-icon *ngFor="let score of scoresArray; let i = index" [name]="iconName[i]"></ion-icon>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- sinopsis -->
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>
            <h3>Notas</h3>
            <ion-textarea formControlName="notes" ></ion-textarea>
          </ion-label>
        </ion-item>
      </ion-col>


    </form>


  </ng-template>




  <!-- todo_mrt boton de editar info del libro -->
  <ion-fab vertical="bottom" horizontal="end" (click)="isEditing = !isEditing">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-grid>