img{
  max-height: 100%;
  width: auto;
}
ion-card-title{
  padding-top: 1em;
  padding-bottom: .2em;
}
h3{
  letter-spacing: 1px;
  text-transform: uppercase;
}

ion-checkbox {
    --size: 20px;
    --background-checked: #6815ec;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
}


