Contenido de la biblioteca

<ng-container  class="h-100">
    <ion-list lines="false" *ngIf="myLibrary; else loadingLibrary">
        <app-book-item *ngFor="let book of myLibrary" [book]="book"></app-book-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" routerLink="/add-book">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>



    <ng-template #loadingLibrary>
        <app-loading-list></app-loading-list>
    </ng-template>
</ng-container>