img{
    max-height: 100%;
    width: auto;
}
ion-card-title{
    padding-top: 1em;
    padding-bottom: .2em;
}
h3{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sinopsis{
    white-space: normal;
}